body {
    background: linear-gradient(to right, #00FFFF, #191970);
}
.menu {
    display: flex;
    background: linear-gradient(to right, #FFFAFA, #FFC0CB, #F0E68C, #808000);
  }
.menu li {
    width: 200px;
    list-style: none;
    position: relative;
} 
.menu a {
    text-decoration: none;
    display: block;
    height: 50px;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}
.menu a:hover {
    transform: rotate(180deg);
}
.menu ul {
    background: radial-gradient(circle farthest-corner at 100px 50px, #FBF2EB, #352A3B);
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
}
.menu li:hover > ul {
    display: block;
}
.menu ul ul {
    left: 100%;
    top: 0;
}
.div1 {
    width: 200px;
	height: 100px;
	background: red;
	-moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
	border-radius: 100px / 50px;
}
.div2 {
    width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid red;
}
.div3 img {
    position: absolute;
    background-repeat: repeat;
}
.div3 span{
    color: #fff;
    position: relative;
}